<mat-card>
  <mat-card-header>
    <mat-card-title><h1>Welcome to kittens sorter!</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card *ngFor="let cardItem of cards; let cardIndex = index" class="inner" [@cardLocation]="cardItem.position">
      <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(/assets/images/' + cardItem.image + ')'}" class="cat-header-img"></div>
        <mat-card-title>{{cardItem.name}}</mat-card-title>
        <mat-card-subtitle>You liked {{cardItem.name}} {{cardItem.likes}} times!</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/images/{{cardItem.image}}" alt="Photo of a cat">
      <mat-card-actions>
        <button mat-button mat-mini-fab (click)="liked(cardIndex)">
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>
</mat-card>