@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-card {
    width: 85%;
    margin: auto;
    mat-card-content {
        height: 51rem;
        position: relative;
    }
}
mat-card.inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 15%;
    display: inline-block;
    margin: 2rem 2rem 0 0;
    transition: all 0.5s ease-out;
    .mat-button {
        margin: auto;
        display: block;
    }
    .cat-header-img {
        background-size: cover;
        border-radius: 2rem;
        border: none;
    }
    img {
        height: 13rem;
    }
    .mat-card-image {
        margin-bottom: 0;
    }
}